*{
    margin: 0;
    box-sizing: border-box;
}


html{
    /* font-size: 16px; */
    color: white;
    font-family: Lato;
    background-color: #292929;
}

img {
    width: 100%;
}

@font-face{
    font-family: eurofurence;
    src:url(../fonts/eurofurence/eurof35.woff);
}

@font-face{
    font-family: Lato;
    src:url(../fonts/Lato/Lato-Black.ttf);
}
@font-face{
    font-family: Impact;
    src:url(../fonts/impact/impact.ttf)
}

a{
    text-decoration: none;
    color: #7b7171;
}

/*--------------------- layout -------------------*/

.container{
    width: 85%;
    height: 70%;
    /* margin: auto; */
    /* margin: 0; */
 
}

/*--------------------- header ------------------*/


.main-header{
    height: 25%;
    margin-top: 1rem;
    background-color: #292929;
    margin-bottom: 1rem;
    /* margin: 0; */
}

.nav-container {
    width: 96%;
    height: 80%;
    background: linear-gradient(blue, 10%, pink);
    margin: auto;
    border-radius: 25px;
    padding: 15px;
}

.main-nav {
    width: 50%;
   
}

.logo{
    /* width: 85px; */
    height: 80%;
    color: #ffffff;
    font-family: eurofurence;
    font-size: 2.5em;
    font-weight: 900;
    
    /* margin-right: 4.13; */
}

.logo .first-letter{
    letter-spacing: -0.8px;
    font-size: 1.5em;
}

.logo .point-letter{
    color: #610659;
    letter-spacing: -0.8px;
}

.main-nav li{
    width: 101px;
    height: 33px;
    border-radius: 10px;
    box-shadow: 0px 2px 0 rgba(92, 92, 92, 0.55);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}


/*---------------- main -----------------------*/

.main-content{
    width: 100%;
    height: 70%;
}

.top-line{
    width: 90%;
    height: 40%;
    margin-bottom: 30px;
}


.upload-btn.fas{
    font-size: 35px;
    margin-right: 5px;
}

.search-container{
    width: 40%;
    margin: 2rem;
    margin-right: 0;
}

.search{
    border-radius: 8px;
    width: 100%;
    height: 40px;

}
.search::placeholder{
    font-family: Lato;
    text-align: center;
}

.keyWords-container{
    width: 60%;
    margin: 1rem
}

.keyWords{
    cursor: pointer;
    background: linear-gradient(blue, 10%, pink);
    border-radius: 8px;
    border-style: groove;
    font-family: Lato;
    /* width: 150px; */
    font-size: 18px;
    color: #34373a;
    /* margin: 2px; */
    margin: 4px;
}

.meme-img{
    border-radius: 10px;
    cursor: pointer;
    height: 190px;
}

.meme-img:hover{
    opacity: 0.6;
}

.photo-contianer{
    width: 90%;
    height: 70%;
    margin: auto;
}
.img-container{
    width: 90%;
    height: 70%;
    margin: auto;
    padding: 20px;
}

.gallery{
    background-color: #5c5a5a;
    border-radius: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
}

/*------------------------ canvas-page -----------------------*/

.canvas-container{
    /* border: 2px solid blue; */
}

.canvas-page{
   width: 92%;
   display: none;
}

#my-canvas{
    
    border-radius: 25px;
}

/*----------------- tools ----------------------*/

.tools-container{
    min-height: 400px;
    background-color: #5c5a5a;
    border-radius: 25px;
    padding-bottom: 20px;
    margin: 20px;
}

#text{
    width: 18rem;
    height: 2.5rem;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55);
    border-radius: 10px;
    margin: 15px;
}

#text::placeholder{
    width: 15rem;
    height: 2rem;
    color: #3d3d3d;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.main-btn-container>*{
    margin-right: 10px;
}
.main-btn-container .btn{
    width: 10px;
}

.main-btn-container >button{
    width: 2.8125rem;
    height: 2.5rem;
    box-shadow: -1px 0px 0 #048b97, inset 1px 2px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #f9bccc 0%, #b88bda 50%, #4c39ef 100%);
    cursor: pointer;
    padding: 0;
}

.editor-btn-container{
    width: 90%;
    height: 10rem;
    border-radius: 15px;
    /* background-image: linear-gradient(-38deg, #f9bccc 0%, #b88bda 50%, #4c39ef 100%); */
    margin: 20px;
    background-color: #d5a0d3;
    padding: 10px;
}
.first-editor>*{
    width: 2.8125rem;
    height: 2.5rem;
    box-shadow: 0px 2px 0 rgba(92, 92, 92, 0.55);
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px;
    margin-right: 1px;
    cursor: pointer;

}
/* 
#font-list{
    width: 10rem;
    height: 6rem;
    margin-bottom: 5px;
    cursor: pointer;

} */

.editor-btn-container input{
    color: #0e0f11;
    font-family: Impact;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-left: 8px;
}

select{
    width: 157px;
    color: #22252c;
    font-family: Lato;
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    box-shadow: -1px 0px 0 #808686, inset 1px 2px 0 rgba(255, 255, 255, 0.58);
    cursor: pointer;
}

.colors-plate{
    width: 300px;
}

.colors-plate>button{
    width: 2.8125rem;
    height: 2.5rem;
    box-shadow: 0px 2px 0 rgba(92, 92, 92, 0.55);
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px;
    margin-right: 1px;
    cursor: pointer;
}
.colors-plate>input{
    display: none;
}

.btn-share{
    width: 5rem;
    height: 2rem;
    box-shadow: 0px 2px 0 rgba(92, 92, 92, 0.55);
    border-radius: 10px;
    margin: 10px;
    margin-right: 1px;
    color: white;
    font-family: Lato;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(-38deg, #f9bccc 0%, #b88bda 50%, #4c39ef 100%);
}

.save-btn{
    width: 5rem;
    height: 2rem;
    box-shadow: 0px 2px 0 rgba(92, 92, 92, 0.55);
    border-radius: 10px;
    margin: 10px;
    margin-right: 1px;
    color: white;
    font-family: Lato;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(-38deg, #f9bccc 0%, #b88bda 50%, #4c39ef 100%);

}

.download{
    height: 2rem;
    box-shadow: 0px 2px 0 rgba(92, 92, 92, 0.55);
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px;
    margin-right: 1px;
    color: white;
    font-family: Lato;
    font-size: 1.2rem;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    background-image: linear-gradient(-38deg, #f9bccc 0%, #b88bda 50%, #4c39ef 100%);
    text-align: center;

}


@media (max-width: 660px){
    .canvas-and-img-container{
        flex-wrap: wrap;
    }
    .main-nav{
        flex-wrap: wrap;
    }
    .tools-container{
        width: 400px;
    }

}

/*---------------- modal -----------------------*/

.modal{
    display: none;
    height: 100%;
}

.modal-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
}

.modal-container {
    width: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    position: fixed;
    margin: auto;
    background-image: linear-gradient(-38deg, #f9bccc 0%, #b88bda 50%, #4c39ef 100%);
    border-radius: 10px;
    box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.75);
}
.close-modal{
    border-radius: 5px;
    margin: 5px;
}

.modal-title {
    font-family: Lato;
    font-size: 1.2rem;
    text-align: right;
    margin: 10px;
    display: inline;
}

/*--------------- flex ------------------------*/

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}



/*-------------------- grid --------------------*/

.grid{
    display: grid;
}

.grid-container{
    grid-template-columns:repeat(auto-fill, minmax(160px, 1fr));
    gap:15px;
}



/* clean-list-helper */

.clean-list{
    list-style-type: none;
}